@import "tailwindcss";

:root {
  --background: #f0f2f5;
  --foreground: #171717;

  --color: #2d3748;
  --color1: #1a202c;
  --color2: #312000;
  --color3: #c4c4c4;
  --color4: #4a5568;
  --color5: #1890ff;
  --color6: #212121;
  --color7: #666666;
  --color8: #0acf83;
  --color9: #e8f4ff;
  --bg1: #f0f2f5;
  --bg2: #ffffff;
  --bg3: #f5f5f5;
  --bg4: #dfdfdf;
  --bg5: #112032;
  --bg6: #232e42;
  --b-shadow1: 7.5px 20px 7.5px 20px rgba(108, 126, 147, 0.15);
  --b-shadow2: 7.43px 49.03px 7.5px 49.03px rgba(108, 126, 147, 0.1);
  --b-shadow3: 7px 42px 7px 42px rgba(108, 126, 147, 0.15);
  --b-shadow4: 0px 2px 0px 2px rgba(108, 126, 147, 0.15);
  --b-shadow5: 0px 3px 0px 3px rgba(108, 126, 147, 0.15);
  --b-shadow6: 0px 4px 0px 4px rgba(108, 126, 147, 0.15);
  --bcolor1: #f0f310;
  --bcolor2: #e8e8e8;
  --bcolor3: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);

  --color-color: var(--color);
  --color-color1: var(--color1);
  --color-color2: var(--color2);
  --color-color3: var(--color3);
  --color-color4: var(--color4);
  --color-color5: var(--color5);
  --color-color6: var(--color6);
  --color-color7: var(--color7);
  --color-color8: var(--color8);
  --color-color9: var(--color9);
  --color-bg1: var(--bg1);
  --color-bg2: var(--bg2);
  --color-bg3: var(--bg3);
  --color-bg4: var(--bg4);
  --color-bg5: var(--bg5);
  --color-bg6: var(--bg6);
  --color-b-shadow1: var(--b-shadow1);
  --color-b-shadow2: var(--b-shadow2);
  --color-b-shadow3: var(--b-shadow3);
  --color-b-shadow4: var(--b-shadow4);
  --color-b-shadow5: var(--b-shadow5);
  --color-b-shadow6: var(--b-shadow6);
  --color-bcolor1: var(--bcolor1);
  --color-bcolor2: var(--bcolor2);
  --color-bcolor3: var(--bcolor3);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, Helvetica, sans-serif;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
  }
}
